docs/supporting_material/*/*.jpg filter=lfs diff=lfs merge=lfs -text
docs/supporting_material/*/*.png filter=lfs diff=lfs merge=lfs -text
docs/supporting_material/*/*.tiff filter=lfs diff=lfs merge=lfs -text
